{% extends 'layout.html' %}

{% block content %}
	<form class="form-horizontal" action="/trouble.html?md=POST" method="post">
	{% csrf_token %}
  <div class="form-group">
    <label class="col-sm-2 control-label">标题</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="title" placeholder="请输入标题">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">详细</label>
    <div class="col-sm-10">
			<textarea name="detail" id="" cols="30" rows="10"></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">提交</button>
    </div>
  </div>
</form>
{% endblock %}