{% extends 'layout.html' %}

{% block css %}
{% endblock %}

{% block content %}

	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">报障单详细</div>
		<!-- Table -->
		<table class="table table-hover">
			<tbody>
			<tr>
				<td>故障编号</td>
				<td>{{ troubleDetail.id }}</td>
			</tr>
			<tr>
				<td>故障标题</td>
				<td>{{ troubleDetail.title }}</td>
			</tr>
			<tr>
				<td>故障详细</td>
				<td>{{ troubleDetail.detail }}</td>
			</tr>
			<tr>
				<td>提交人</td>
				<td>{{ troubleDetail.createUser }}</td>
			</tr>
			<tr>
				<td>创建时间</td>
				<td>{{ troubleDetail.createTime|date:"Y-m-d H:i:s" }}</td>
			</tr>
			<tr>
				<td>当前状态</td>
				<td>
					{% for i in troubleDetail.statusChoices %}
						{% if troubleDetail.status in i %}
							{{ i.1 }}
						{% endif %}
					{% endfor %}
				</td>
			</tr>
			<tr>
			<td>接单人</td>
			<td>{{ troubleDetail.processor }}</td>
			</tr>
			<tr>
			<td>解决对策</td>
			<td>{{ troubleDetail.solution }}</td>
			</tr>
			<tr>
			<td>结单时间</td>
			<td>{{ troubleDetail.processTime }}</td>
			</tr>
			</tbody>
		</table>
	</div>




{% endblock %}